.main {
  height: 2375px;
  width: 1440px;
  background:  hwb(0 100% 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 80px;
  width: 1440px;
}

.container {
  height: 54px;
  width: 1200px;
  background-color: hwb(0 100% 0%);
  border-radius: 0px;
  margin: 13px 80px 83px 80px;
}

.company-logo-black {
  height: 54px;
  width: 237.9px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}

.logo {
  height: 54px;
  width: 237.9px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.nav {
  height: 20px;
  width: 260.99px;
}

li.Documentation {
  font-family: "Staatliches", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}

li {
  list-style-type: none;
}

li.oblique-line {
  font-family: "Staatliches", sans-serif;
  font-size: 22px;
  letter-spacing: 0.03em;
  text-align: left;
}

li.text_ {
  font-family: "Staatliches", sans-serif;
  font-size: 22px;
  letter-spacing: 0.03em;
  text-align: left;
}

.first {
  font-family: "Tourney", "cursive";
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

ul.hr {
  margin: 0;
  padding: 4px;
}

ul.hr li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

.main-text {
  height: 2225px;
  width: 1200px;
  padding: 0px 0px 90px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  margin: 10px 80px 25px 80px;
  background-color: hwb(0 100% 0%);
}

div.chapter1{
  background-color:  hwb(0 100% 0%);
  height: 221px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  isolation: isolate;
}

.title {
  display: flex;
  gap: 15px;
}

.div.bloc-content {
  height: 133px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

p.content {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}


.chapter2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-2 {
  display: flex;
  gap: 15px;
}

.title-3 {
  display: flex;
  gap: 15px;
}

.text-component {
  font-family: "PT", sans;
  font-size: 28px;
  font-style: italic;
  letter-spacing: 0em;
  text-align: left;
}

.text-component:hover {
  background: cyan;
}

.text-component-0 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

div.chapter3 {
  background-color:  hwb(0 100% 0%);
  height: 993px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  isolation: isolate;
}

.h1-3 {
  height: 48px;
  width: 400px;
  gap: 30px;
}

.h3-3 {
  height: 20px;
  width: 100px;
}

.text-component-1 {
  font-family: "Hind", sans-serif;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

p.chapter-3-2 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

b.component {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: left;
}

b.component:hover {
  background: blue;
}

p.chapter-3-3 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

b.component1 {
  font-family:  "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: left;
}


b.component1:hover {
  background: blue;
}

p.chapter-3-4 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

p.chapter-second {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

span.highlight {
  background-color: #c9c9c9;;
}

p.chapter-3-5 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

b.component2 {
  font-family:  "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: left;
}


b.component2:hover {
  background: blue;
}

p.chapter-3-6 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: justify;
}

b.component3 {
  font-family:  "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: left;
}

b.component3:hover {
  background: blue;
}

span.greetings{
  background-color: #c9c9c9;
}

.div.chapter4 {
  background-color: hwb(0 100% 0%);
  height: 393px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.div.title-4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
p.text-8 {
  font-family: "PT", sans;
  font-size: 28px;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: left;
}

span.italics {
  font-family: "PT", sans;
  font-size: 28px;
  font-style: italic;
  letter-spacing: 0em;
  text-align: left;
}

p.text-9 {
  font-family: "PT", sans;
  font-size: 28px;
  letter-spacing: 0em;
  text-align: left;
} 
